<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom" ng-controller="NavController" ng-init="init()">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">KharidTo</a>
    </div>




    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <i class="fa fa-shopping-cart fa-fw"></i> <span class="badge cartbadge" data-easein="tada">{{(cart.length==0)?'':cart.length}}</span> 
                <!-- <span class="hidden-xs">Cart</span> -->
                 <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="(key,product) in cart" ng-show="$root.cart" >
                        <div class="col-xs-4">
                            <img src="../assets/images/kt-{{product.code}}.png" class="img-thumbnail">
                        </div>
                        <div class="col-xs-8">
                            <h4> {{product.name}}</h4>
                            <p class="text-warning">
                                Quantity {{product.qty }} 
                                <button type="button" class="close" ng-click="removeProduct(key)"><span aria-hidden="true">&times;</span></button>
                            </p>

                        </div>
                    </li>
                    <li ng-show="cart.length==0">
                        <h4 class="text-center"> No products in cart</h4>
                    </li>
                    <li role="separator" class="divider"></li>

                    <li class="container-fluid">
                        <a ng-show="cart.length" class="btn btn-block btn-lg btn-danger" data-toggle="modal" data-target="#cart"> Checkout</a>
                    </li>

                </ul>
            </li>
            <li class="hidden-xs"><a href="#"><i class="fa fa-envelope fa-fw"></i> </a></li>
      </ul>

<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>